@model IEnumerable<WebServiceInfinity.Models.ViaLactea>

@{
    ViewBag.Title = "Vias Lacteas";
}



<center>
    <h2>Vías Lacteas</h2>

    <a class="btn btn-success btn-sm" href="@Url.Action("Create", "ViaLacteas")">
        Agregar Vía Lactea
    </a>
    </center>

  
    <table class="table">
        <tr>
            <th>
                Nombre Vía Lactea
            </th>
            <th>Total Nebulosas</th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.nombre)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.totalNebulosas) Nebulosa(s)
                </td>
                <td>

                    <a class="btn btn-info btn-sm" href='@Url.Action("Details", "ViaLacteas",new { id = item.id})'>
                        <span class="glyphicon glyphicon-info-sign"></span> Ver Nebulosas
                    </a>
                   
                    @Html.ActionLink("Eliminar Vía Lactea", "Delete", new { id = item.id })|

                </td>
            </tr>
        }

    </table>
