@model IEnumerable<WebServiceInfinity.Models.ViaLactea>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.nombre)
        </th>
        <th>Total Nebulosas</th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.totalNebulosas)
        </td>
        <td>
            
            @Html.ActionLink("Details", "Details", new { id=item.id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id })|
            <a class="btn btn-success btn-sm" href="@Url.Action("Create", "Nebulosas",new { id=item.id })">
                Agregar Nebulosas
            </a>
        </td>
    </tr>
}

</table>
