@model WebServiceInfinity.Models.Nebulosa

@{
    ViewBag.Title = "Details";
}

<center>
    <h2>NEBULOSA:  @Html.DisplayFor(model => model.nombre)</h2>

    <a class="btn btn-success btn-sm" href="@Url.Action("Create", "SistemaPlanetarios",new { Model.id })">
        Agregar Sistema Planetario
    </a>

</center>
<div>
    
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.viaLactea.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.viaLactea.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.x)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.x)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.y)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.y)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.z)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.z)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.danger)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.danger)
        </dd>

    </dl>
</div>

<h3 class="text-center">Sistemas planetarios de la Nebulosa</h3>
<table class="table table-bordered table-striped">

    <tr>
        <th>
            Nombre
        </th>
        <th>
            Total Planetas
        </th>
        <th>
            Opción
        </th>

    </tr>
    @foreach (var item in Model.sistemasPlanetarios)
    {


        <tr>
            <td>
                @item.nombre
            </td>

            <td>
                @item.nodos.Count Planeta(s)
            </td>


            <td>
                <a class="btn btn-info btn-sm" href='@Url.Action("Details", "sistemaPlanetarios",new { id = item.id})'>
                    <span class="glyphicon glyphicon-info-sign"></span> Datos Stm.Planetario
                </a>
                @Html.ActionLink("Eliminar Stm. Planetario", "Delete", new { id = item.id })
            </td>
        </tr>

    }
</table>


<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
